.navBarWrapper {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e5f4ec;
  font-size: 1.1rem;
  padding: 0.4rem 1rem;
}

.nav-link-container {
  margin-right: 6rem;
  display: flex;
}

.nav-link {
  padding: 0 4rem;
  text-decoration: none;
  color: black;
  font-family: quicksand;
  font-weight: 500;
}

@media screen and (max-width: 450px) {
  .navBarWrapper {
    padding: 0;
  }

  .nav-link-container {
    display: none;
  }
}
