.first-content-wrapper {
  background: rgb(168, 196, 190);
  background: linear-gradient(
    0deg,
    rgba(168, 196, 190, 1) 0%,
    rgba(80, 176, 195, 1) 100%
  );
  padding: 2rem 4rem;
  margin-top: 92px;
}

@media screen and (max-width: 450px) {
  .first-content-wrapper {
    padding: 1rem 2rem;
  }
}
